body{
	background-color:white;
}

/*.navbar{
	position: fixed;
	align-items: center;
	padding: 20px;
}
nav{
	flex:1;
	text-align:right;
}
nav ul{
	display:inline-block;
	list-style-type:none;
}
nav li{
	display: inline-block;
	margin-right:20px;
}
a{
	text-decoration:none;
	color:#555;
}
p{
	color:#555;
}
.container{
	margin-width:1300px;
	margin: auto;
	padding-left:25px;
	padding-right:25px;
}*/

ul{ 
     list-style-type:none;
	 overflow:hidden;
	 padding:0;
	 margin:0;
	 background-color:#FFB6C1;
	 position:fixed;
	 top:0;
	 width:100%
}
li{
     float:right;
}
li a{
     display:block;
	 color:black;
	 text-align:center;
	 font-size:30px;
	 padding:15px;
	 text-decoration:none;
	 border-left:1px solid white;
	 border-bottom:1px solid white;
}
button{
	 background-color:darkpink;
	 font-color:red;
	 border:2px;
	 size:10px;
	 text-align:center;
	 font-family:Times New Roman;
	 font-size:16;
}
#img{
     float:left;
	 margin-left:5px;
	 height:66px;
	 width:140px;
	 border-radius:20px;
}
a:hover{
     background-color:white;
	 color:black;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  background-color: red;
  padding-left: 0px;
}

/* Fake image */
.fakeimg {
  background-color: white;
  width: 100%;
  padding: 20px;
  
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.categories{
	margin:60px 0;
}
.col-3{
	flex:30%;
	min-width:150px;
	margin-bottom:10px;
}
.col-3 img{
	width:100%;
}
.small-container{
	margin:auto;
	max-width:100%;
	padding-left:25px;
	padding-right:25px;
}
.col-4{
	flex-basis:25px;
	padding:10px;
	min-width:200px;
	margin-bottom:50px;
}
.col-4 img{
	width:100%;
}
#p1,#p2,#p3,#p4{
	border:1px;
	
}